
.wrapper__all{
    margin-top: 10px;
}
.wrapper {
    // background-color: var(--black);
    width: 100%;
    height: 800px;
}
.cart{
    width: 470px;
    height: 800px; 
    border: 1px solid white;
    border-radius: 7px;
    margin: 0 auto; 
    color: var(--white)
}

.info{
    height: 58px;
    width: 470px;
    border: 1px solid white;
    display: flex;
    border: 1px solid white;
    border-radius: 7px;
    & .name{
        width: 80%;
        height: 40px;
        cursor: pointer;
    }
    & img{
        width: 42px;
        height: 42px;
        margin:  8px 5px;
        cursor: pointer;
    }
    & .icon_star{
        width: 10%;
        text-align: center;
        padding: 14px 5px 5px 5px;
        cursor: pointer;
     }
    & .icon_ellipsis{
       width: 10%;
       text-align: center;
       padding: 15px 5px 5px 5px;
       cursor: pointer;
    }
}

.video{

    & video{
        height: 530px;
        width: 450px;
    }
}
.ellipsisPage{
    color: var(--black);
}
.loveItemPage{
    color: var(--black);
}