.wrapper {
    background-color: var(--black);
    color: white;
    width: 100%;
    height: 800px;
}
.cart{
    width: 470px;
    height: 800px; 
    border: 1px solid white;
    border-radius: 7px;
    margin: 0 auto; 
}

.info{
    height: 58px;
    width: 470px;
    border: 1px solid white;
    display: flex;
    border: 1px solid white;
    border-radius: 7px;
    & .name{
        width: 80%;
        height: 40px;
        cursor: pointer;
    }
    & img{
        width: 42px;
        height: 42px;
        margin:  8px 5px;
        cursor: pointer;
    }
    & .icon{
       width: 10%;
       text-align: center;
       padding: 10px 5px 5px 5px;
       cursor: pointer;
    }
}
.video{
    & video{
        height: 530px;
        width: 430px;
    }
    & p{
        position: relative;
        float: right; 
        top: 500px;
    }
}
.comment{
    height: 212px;

    & .select{
        padding: 6px 10px;
        & .iconw{
            padding-right: 10px;
        }
        & .iconx{
            padding-right: 10px;
        }
        & .icony{
            padding-right: 10px;
        }
        & .iconz{
            float: right;
        }
    }
}


